.navbar-brand {
    font-size: 19px;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    padding: 0px 36px;
}

.nav-link {
    font-size: 19px;
}