
/*main navbar*/
.nav-link {
    position: relative;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transition: background-color .8s;
  }

  .nav-link.active::after {
    background-color: #E65F5C; /* Change this to your desired indicator color */
  }

.navbar-brand {
    font-size: 19px;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-item {
    padding: 0px 36px;
}

.nav-link {
    font-size: 19px;
}

/*text + styles*/
p {
    font-size: 17px;
}

h3 {
    font-size: 23px;
    font-weight: 300;
}

h1.h1logo {
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
}

.h5titles {
    padding: 0px 20px;
    font-size: 32px;
}

/*Hero Image + Intro*/


/*unique features*/

.unique_search {
    padding: 20px 0px;
}

.appFeatures {
    padding-bottom: 20px;
}

.ratingIcons {
    padding: 20px 0px;
}

/*partnered brands*/

.partneredBrands {
    background-color: #D3E4F7;
    padding: 60px 0px;
}

.flex-container {
    display:flex;
    flex-wrap:wrap ;
    justify-content: center;
    min-height: 200px;
}

.brandLogos {
    max-width: 280px;
    max-height: 150px;
    padding: 30px;
}

/*footer*/

